 .toggle-switch {
  position: relative;
  width: 2em;
  height: 1em;
}

.toggle-label {
  position: absolute;
  width: 100%;
  height: 1em;
  border-radius: 1em;
  cursor: pointer;
}

#toggle-input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: .50em;
  transition: 0.3s;
  background-color: var(--toggle-dark);
}

.slider::before {
  content: "";
  position: absolute;
  top: .1em;
  right: 1em;
  width: .75em;
  height: .75em;
  border-radius: .60em;
  box-shadow: inset -.28em -.04em 0px 0px var(--toggle-light);
  background-color: var(--toggle-dark);
  transform: translateX(1px);
  transition: 0.3s;
}


$body-background-color: $grey-dk-300;
$sidebar-color: $grey-dk-300;
$border-color: $grey-dk-200;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$link-color: $blue-000;
$btn-primary-color: $blue-200;
$base-button-color: $grey-dk-250;

$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);

//
// The following highlight theme is more legible than that used for the light color scheme
//

@import "./vendor/pygments/css-github/pygments-tomorrow-night";
$code-background-color: #1d1f21;