{% if site.toggle_color_scheme and site.toggle_color_scheme != "nil"  %}
  
  {% if site.toggle_page_url and site.toggle_page_url != "nil" 
        and site.toggle_page_url != page.url %}
    {% assign toggle_display = "style='display: none'" %}
  {% else %}
    {% assign toggle_display = "" %}
  {% endif %}

  {% if site.toggle_text_1 %}
    {% assign toggle_text_1 = site.toggle_text_1 %}
    {% assign toggle_case_1 = "true" %}
  {% else %}
    {% assign toggle_text_1 = "Enable Dark Mode" %}
    {% assign toggle_case_1 = "true" %}
  {% endif %}

  {% if site.toggle_text_2 %}
    {% assign toggle_text_2 = site.toggle_text_2 %}
    {% assign toggle_case_2 = "false" %}
  {% else %}
    {% assign toggle_text_2 = "Enable Light Mode" %}
    {% assign toggle_case_2 = "false" %}
  {% endif %}

<div class="mode-container">
  <div class="mode-flex">
    <span id="theme-toggle"></span>
    <div class = 'toggle-switch'>
      <label class="toggle-label" onclick="modeSwitcher()">
        <span id="toggle-input" type = 'checkbox'  ></span>
        <span class = 'slider'></span>
      </label>
    </div>
  </div>
</div>

<script>
  function modeSwitcher() {
    let currentMode = document.documentElement.getAttribute('data-theme');
    if (currentMode === "dark") {
      document.documentElement.setAttribute('data-theme', 'light');
      window.localStorage.setItem('theme', 'light');
      document.getElementById("theme-toggle").innerHTML = "{{ toggle_text_1 }}";
      
    } else {
      document.documentElement.setAttribute('data-theme', 'dark');
      window.localStorage.setItem('theme', 'dark');
      document.getElementById("theme-toggle").innerHTML = "{{ toggle_text_2 }}";
      
    }
  }
</script>

{% endif %}