---
layout: default
---

{{ content }}

{%- if page.contributors -%}
	<h4>Contributors</h4>
	<ul class="list-style-none">
	{% for contributor in page.contributors %}
  		<li class="d-inline-block mr-1">
     	<a href="https://github.com/{{ contributor }}"><img src="https://github.com/{{ contributor }}.png?size=60" width="32" height="32" alt="{{ contributor }}"/></a>
  		</li>
	{% endfor %}
	</ul>
{%- endif -%}

{%- comment -%}
 Liquid TOC and JS Active scroll states

{%- endcomment -%}

{%- if page.toc_content != false -%}
	<div id="content-nav-container">
		<div id="content-nav">
		<h4>Page Contents</h4>
			{% include toc_liquid.html 
        		html= content
        		id = "toc-ul"
        		h_max= 3
        		class= "toc-ul"
        		item_class= "toc-li" 
        		anchor_class= "toc-link" %}
        </div>
	</div>
	<script type="text/javascript">
		$("#toc-ul").scrollspy({activeClass: "toc-active"});
	</script>

{%- endif -%}
